/*--------------------Tipografias--------------------*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&family=DM+Serif+Text:ital@0;1&family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap");
/*tipografias variables*/
/*colores variables*/
/*MIXINS*/
div.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  max-width: 1920px;
  margin-left: 0;
  /*header*/
}
div.container header div.header-container {
  display: grid;
  grid-template-columns: auto 5fr;
}
@media screen and (max-width: 1020px) {
  div.container header div.header-container {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  div.container header div.header-container {
    justify-content: space-between;
  }
}
div.container header div.header-container label.logo img {
  display: flex;
  position: relative;
  margin-left: 0.4rem;
  width: 6rem;
  height: 4rem;
}
div.container header div.header-container .navbar {
  display: flex;
  justify-content: space-around;
}
div.container header div.header-container .navbar #check {
  display: none;
}
div.container header div.header-container .navbar .checkbtn {
  font-size: 30px;
  color: #261fb3;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 768px) {
  div.container header div.header-container .navbar .checkbtn {
    display: grid;
    order: 1;
    margin-right: 10px;
    margin-top: 20px;
    justify-content: right;
  }
}
div.container header div.header-container .navbar .nav-list ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12rem;
  background-color: #ffffff;
  list-style: none;
}
@media screen and (max-width: 1020px) {
  div.container header div.header-container .navbar .nav-list ul {
    gap: 8rem;
  }
}
@media screen and (max-width: 768px) {
  div.container header div.header-container .navbar .nav-list ul {
    display: grid;
    grid-template-columns: 1fr;
    position: fixed;
    top: 4rem;
    gap: 4rem;
    right: -120%;
    background-color: #f8f8f8;
    width: 100%;
    transition: all 0.3s;
    z-index: 100;
  }
}
div.container header div.header-container .navbar .nav-list ul li a {
  color: #000000;
  font-family: "Bebas Neue", sans-serif;
  text-decoration: none;
  font-size: 1.6rem;
  transition: color 0.3s;
  padding: 1rem;
}
@media screen and (max-width: 1280px) {
  div.container header div.header-container .navbar .nav-list ul li a {
    display: grid;
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 0.1rem;
  }
}
@media screen and (max-width: 768px) {
  div.container header div.header-container .navbar .nav-list ul li a {
    font-size: 1rem;
  }
}
div.container header div.header-container .navbar .nav-list ul li a:hover {
  background-color: rgba(245, 203, 203, 0.1568627451);
  color: #970ce7;
  border: solid;
  border-color: #6b31c9;
}
div.container header div.header-container .navbar .nav-list ul li a:active {
  color: rgb(209, 96, 96);
}
@media screen and (max-width: 768px) {
  div.container header div.header-container .navbar #check:checked ~ .nav-list ul {
    right: 0;
  }
}

main {
  background-color: rgba(218, 203, 245, 0.8);
}

/*main*/
.main-container {
  display: grid;
  background-color: rgba(218, 203, 245, 0.8);
}

/*main index*/
.main-inicio {
  display: grid;
}
.main-inicio h1 {
  text-align: right;
  padding-right: 2rem;
  padding: 0.3rem;
  color: #ffffff;
  background: linear-gradient(90deg, rgb(24, 38, 42) 0%, rgb(35, 45, 59) 16.667%, rgb(54, 57, 83) 33.333%, rgb(79, 71, 114) 50%, rgb(109, 88, 149) 66.667%, rgb(144, 107, 187) 83.333%, rgb(182, 129, 227) 100%);
  font-family: "Cinzel", serif;
}
@media screen and (max-width: 768px) {
  .main-inicio h1 {
    font-size: 1.5rem;
  }
}
.main-inicio .text-box, .main-inicio .text-box-a {
  position: absolute;
  top: 40%;
  left: 5%;
  background-color: rgba(230, 228, 239, 0.7);
  width: 20rem;
}
@media screen and (max-width: 1280px) {
  .main-inicio .text-box, .main-inicio .text-box-a {
    left: 1.5%;
  }
}
@media screen and (max-width: 1020px) {
  .main-inicio .text-box, .main-inicio .text-box-a {
    width: 15rem;
    left: 2%;
  }
}
@media screen and (max-width: 768px) {
  .main-inicio .text-box, .main-inicio .text-box-a {
    position: static;
    width: 100%;
  }
}
.main-inicio .text-box-a {
  top: 40%;
  left: 80%;
}
@media screen and (max-width: 1280px) {
  .main-inicio .text-box-a {
    left: 75%;
    width: 18.6rem;
  }
}
@media screen and (max-width: 1020px) {
  .main-inicio .text-box-a {
    width: 14rem;
    left: 76%;
  }
}
@media screen and (max-width: 768px) {
  .main-inicio .text-box-a {
    position: static;
    width: 100%;
  }
}
.main-inicio .text-box-b {
  text-align: center;
  font-family: "Edu NSW ACT Cursive", cursive;
}
@media screen and (max-width: 768px) {
  .main-inicio .text-box-b {
    font-size: 0.9rem;
  }
}

/*main sobremi*/
.main-sobremi {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
}
.main-sobremi h1 {
  text-align: right;
  padding-right: 2rem;
  padding: 0.3rem;
  color: #ffffff;
  background: linear-gradient(90deg, rgb(24, 38, 42) 0%, rgb(35, 45, 59) 16.667%, rgb(54, 57, 83) 33.333%, rgb(79, 71, 114) 50%, rgb(109, 88, 149) 66.667%, rgb(144, 107, 187) 83.333%, rgb(182, 129, 227) 100%);
  font-family: "Cinzel", serif;
  grid-column: 1/3;
}
.main-sobremi div {
  display: grid;
  grid-column: 1/4;
  background: white;
}
.main-sobremi div .imgsobremi {
  grid-column: 2/3;
}
@media screen and (max-width: 1280px) {
  .main-sobremi div .imgsobremi {
    width: 40vw;
  }
}
@media screen and (max-width: 1020px) {
  .main-sobremi div .imgsobremi {
    width: 45vw;
  }
}
@media screen and (max-width: 768px) {
  .main-sobremi div .imgsobremi {
    width: 90vw;
    grid-row: 3/3;
  }
}
.main-sobremi div .text-container {
  grid-column: 3/4;
}
@media screen and (max-width: 768px) {
  .main-sobremi div .text-container {
    grid-row: 2/3;
    grid-column: 2/3;
  }
}
.main-sobremi div .text-container element.style {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background: white;
}
.main-sobremi div .text-container .titulosobremi {
  text-align: center;
  padding-right: 2rem;
  padding: 0.3rem;
  color: #000000;
  font-family: "Edu NSW ACT Cursive", cursive;
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 1280px) {
  .main-sobremi div .text-container .titulosobremi {
    width: 20vw;
  }
}
@media screen and (max-width: 1020px) {
  .main-sobremi div .text-container .titulosobremi {
    width: 20vw;
  }
}
@media screen and (max-width: 768px) {
  .main-sobremi div .text-container .titulosobremi {
    width: 90vw;
  }
}
.main-sobremi div .text-container .text-box0 {
  grid-row: 2/4;
  grid-column: 1/4;
  display: flex;
  flex-wrap: nowrap;
  background-color: rgb(253, 253, 253);
  width: 38vw;
  position: relative;
  text-align: justify;
}
@media screen and (max-width: 1280px) {
  .main-sobremi div .text-container .text-box0 {
    width: 20vw;
  }
}
@media screen and (max-width: 1020px) {
  .main-sobremi div .text-container .text-box0 {
    width: 20vw;
  }
}
@media screen and (max-width: 768px) {
  .main-sobremi div .text-container .text-box0 {
    width: 90vw;
  }
}

/*main-portfolio*/
.main-container-portfolio {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto, 1fr, 1fr;
  background-color: rgba(218, 203, 245, 0.8);
}
.main-container-portfolio .main-title-container {
  display: grid;
  grid-column: 1/13;
  grid-row: 1/2;
  text-align: right;
  padding-right: 2rem;
  padding: 0.3rem;
  color: #ffffff;
  background: linear-gradient(90deg, rgb(24, 38, 42) 0%, rgb(35, 45, 59) 16.667%, rgb(54, 57, 83) 33.333%, rgb(79, 71, 114) 50%, rgb(109, 88, 149) 66.667%, rgb(144, 107, 187) 83.333%, rgb(182, 129, 227) 100%);
  font-family: "Cinzel", serif;
}
.main-container-portfolio .cards {
  display: flex;
  grid-template-columns: auto;
  grid-column: 1/13;
  justify-content: center;
}
@media screen and (max-width: 1280px) {
  .main-container-portfolio .cards {
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    align-items: stretch;
  }
}
.main-container-portfolio .cards .card {
  margin: 0.1rem;
}
@media screen and (max-width: 768px) {
  .main-container-portfolio .cards .card {
    width: 13rem !important;
  }
}
.main-container-portfolio .cards .card .card-title {
  text-align: center;
  padding-right: 2rem;
  padding: 0.3rem;
  color: #000000;
  font-family: "Edu NSW ACT Cursive", cursive;
}
.main-container-portfolio .cards .card .card-subtitle {
  text-align: center;
}
.main-container-portfolio .cards .card .card-link {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid black;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.375rem;
  color: black;
  background-color: transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}
.main-container-portfolio .cards .card .card-link:hover {
  color: white;
  background-color: rgba(218, 203, 245, 0.8);
  border-color: rgba(218, 203, 245, 0.8);
}
.main-container-portfolio .banner {
  width: 98vw;
}
@media screen and (max-width: 1280px) {
  .main-container-portfolio .banner {
    width: 97vw;
  }
}
@media screen and (max-width: 768px) {
  .main-container-portfolio .banner {
    display: none;
  }
}

/*FORMACION Y CURSOS*/
.main-container-cursos {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  grid-area: "titulo" "titulo" "carousel" "carousel";
  background-color: rgba(218, 203, 245, 0.8);
}
.main-container-cursos .titulocursos {
  display: grid;
  grid-area: titulo;
  grid-column: 1/3;
  grid-row: auto;
  text-align: right;
  padding-right: 2rem;
  padding: 0.3rem;
  color: #ffffff;
  background: linear-gradient(90deg, rgb(24, 38, 42) 0%, rgb(35, 45, 59) 16.667%, rgb(54, 57, 83) 33.333%, rgb(79, 71, 114) 50%, rgb(109, 88, 149) 66.667%, rgb(144, 107, 187) 83.333%, rgb(182, 129, 227) 100%);
  font-family: "Cinzel", serif;
}
.main-container-cursos #carouselExample {
  background-color: #000000;
}
@media screen and (max-width: 768px) {
  .main-container-cursos #carouselExample {
    display: contents;
  }
}
.main-container-cursos #carouselExample .carousel-indicators {
  bottom: -3rem;
  width: 98vw;
  margin-left: 0%;
}
@media screen and (max-width: 768px) {
  .main-container-cursos #carouselExample .carousel-indicators {
    display: none;
  }
}
.main-container-cursos #carouselExample #prev .carousel-control-prev-icon {
  background-color: black !important;
}
@media screen and (max-width: 768px) {
  .main-container-cursos #carouselExample #prev {
    display: none !important;
  }
}
.main-container-cursos #carouselExample #next .carousel-control-next-icon {
  background-color: black !important;
}
@media screen and (max-width: 768px) {
  .main-container-cursos #carouselExample #next {
    display: none !important;
  }
}
.main-container-cursos #carouselExample .carousel-item .card-body .botonvermas {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid black;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.375rem;
  color: black;
  background-color: transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}
.main-container-cursos #carouselExample .carousel-item .card-body .botonvermas:hover {
  color: white;
  background-color: rgba(218, 203, 245, 0.8);
  border-color: rgba(218, 203, 245, 0.8);
}

/*MAIN CONTACTO*/
.main-container-contacto {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 0.5fr 1fr;
  grid-template-areas: "titulo" "titulo" "titulo" "texto" "imagen" "imagen" "contacto" "imagen" "imagen";
  background-color: rgba(218, 203, 245, 0.8);
}
.main-container-contacto .titulo-contacto {
  display: grid;
  grid-column: 1/4;
  text-align: right;
  padding-right: 2rem;
  padding: 0.3rem;
  color: #ffffff;
  background: linear-gradient(90deg, rgb(24, 38, 42) 0%, rgb(35, 45, 59) 16.667%, rgb(54, 57, 83) 33.333%, rgb(79, 71, 114) 50%, rgb(109, 88, 149) 66.667%, rgb(144, 107, 187) 83.333%, rgb(182, 129, 227) 100%);
  font-family: "Cinzel", serif;
}
.main-container-contacto .info-main {
  display: grid;
  grid-row: 2/2;
  padding: 4rem;
  padding-left: 5rem;
  padding-top: 8rem;
  background: #f8f8f8;
  align-items: center;
}
@media screen and (max-width: 1280px) {
  .main-container-contacto .info-main {
    padding: 1rem;
    display: flex;
  }
}
@media screen and (max-width: 1280px) {
  .main-container-contacto .info-main .texto .text-box3 {
    margin: 0;
  }
}
.main-container-contacto .form-section-container {
  display: flex;
  grid-row: 3/3;
  padding: 0.1rem;
  padding-left: 5rem;
  text-align: center;
  background: #f8f8f8;
}
@media screen and (max-width: 1280px) {
  .main-container-contacto .form-section-container {
    padding: 0.5rem;
  }
}
.main-container-contacto .form-section-container #contacto {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr;
}
.main-container-contacto .form-section-container #contacto h2 {
  text-align: center;
  padding-right: 2rem;
  padding: 0.3rem;
  color: #000000;
  font-family: "Edu NSW ACT Cursive", cursive;
}
@media screen and (max-width: 1020px) {
  .main-container-contacto .form-section-container #contacto h2 {
    text-align: center;
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 1.4rem;
  }
}
.main-container-contacto .form-section-container #contacto form {
  display: grid;
  grid-row: 2/2;
  grid-column: 2/2;
}
.main-container-contacto .form-section-container #contacto form button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid black;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.375rem;
  color: black;
  background-color: transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}
.main-container-contacto .form-section-container #contacto form button:hover {
  color: white;
  background-color: rgba(218, 203, 245, 0.8);
  border-color: rgba(218, 203, 245, 0.8);
}
.main-container-contacto .imagencontacto {
  display: grid;
  grid-row: 2/4;
}
.main-container-contacto .imagencontacto .img-contacto-box {
  display: grid;
  justify-content: space-around;
  background: white;
}
.main-container-contacto .imagencontacto .img-contacto-box .imgcontacto {
  width: 45vw;
  height: 69vh;
  align-items: stretch;
}
@media screen and (max-width: 768px) {
  .main-container-contacto .imagencontacto .img-contacto-box .imgcontacto {
    display: none;
  }
}

footer {
  grid-row: 3;
  display: grid;
  /* https://grabient.com/HQdgrAjANMAcAMA2GJHOAZgJzxtkeIsMEYxwE8GJiYUALMAEzYPP1ZtO0xVNQRgYLPQEUkeDBiA?style=linearGradient&steps=7&angle=90 */
  background: linear-gradient(90deg, rgb(57, 73, 78) 0%, rgb(72, 84, 97) 16.667%, rgb(91, 96, 120) 33.333%, rgb(114, 110, 146) 50%, rgb(140, 125, 174) 66.667%, rgb(168, 142, 204) 83.333%, rgb(196, 160, 233) 100%);
  width: 100%;
  border: 0.3rem;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  padding-left: 1rem;
  padding-right: 0.5rem;
  display: flex;
  justify-content: space-between;
}
footer ul a {
  padding: 0.2rem;
  text-decoration: none;
  font-family: "Edu NSW ACT Cursive", cursive;
  transition: background-color 0.8s ease;
}
footer ul a:visited {
  color: #480db4;
}
footer ul a:hover {
  color: #ffffff;
}
footer ul a i {
  padding: 1rem;
}

/* --------------------- RESET --------------------- */
* {
  margin: 0;
  padding: 0;
}

/*--------------------HEADER-1920PX------------------*/
body {
  background: rgba(218, 203, 245, 0.8);
}

/*# sourceMappingURL=estilo.css.map */
