@import 'media-queris';
div.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    max-width: 1920px;
    margin-left: 0;
    /*header*/
    header {
      div.header-container {
        display: grid;
        grid-template-columns: auto 5fr;

        label.logo img {
            display: flex;
            position: relative;
            margin-left: 0.4rem;
            width: 6rem;
            height: 4rem;
          }
        .navbar {
          display: flex;
          justify-content: space-around;          
          #check {
          display: none;
          }
          .checkbtn {
            font-size: 30px;
            color: #261fb3;
            cursor: pointer;
            display: none;
          }
          .nav-list {
            ul {
              display: flex; 
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 12rem;
              background-color: #ffffff;
              list-style: none;                           
              li a {
                color: $color-sec;
                font-family: $tipografia-nav;
                text-decoration: none;
                font-size: 1.6rem;
                transition: color 0.3s;
                padding: 1rem;

                @include laptops{
                  display: grid;                  
                  text-align: center;
                  text-decoration: none;
                  font-size: 1.3rem;
                  padding:0.1rem;                 
                }
                &:hover {
                  background-color: #f5cbcb28;
                  color: #970ce7;
                  border: solid;
                  border-color: #6b31c9;
                }
                &:active {
                  color: rgb(209, 96, 96);
                }
              }
            }
          }
        }
      }
    }
}