/*tipografias variables*/
$tipografia-ppal: "DM Serif Text", serif;
$tipografia-ttlos: "Cinzel", serif;
$tipografia-nav: "Bebas Neue", sans-serif;
$tipografia-ttlossec:"Edu NSW ACT Cursive", cursive;
/*colores variables*/
$color-ppal: #748dae;
$color-sec: #000000;
$color-ter: #dacbf5cc;